#game {
    margin: 10px 0;
    display: grid;
    width: fit-content;
    border-radius: 5px;
    gap: 1px;
}
.box {
    width: 35px;
    border-radius: 3px;
    height: 35px;
    border: 1px  solid rgb(114, 112, 112);
    cursor: pointer;
    display: flex;
    justify-content: center;
    background-color: #eceaea;
    align-items: center;
    box-shadow: 1px 1px 6px 1px rgb(0 0 0 / 20%);
}
.box:hover{
    background-color: rgba(0,0,0,0.2);
}
.box.revealed{
    box-shadow: inset 1px 1px 6px 1px rgb(0 0 0 / 30%);
    border-color: transparent;
}
.box.empty {
    box-shadow: inset 1px 1px 6px 1px rgb(0 0 0 / 30%);
    border-color: transparent;
}
.box.flagged:after {
    box-sizing: border-box;
    content: "";
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    border: 2px white;
}